


:root {
    --cor1: #000025;
    --cor2: #041532;
    --cor3: #033446;
    --cor4: #036160;
    --cor5: #c5ac7b;

}

* {
    margin: 0;
    padding: 0;
}

.fundo-video {
    background-color: black;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: center;
  
}

.fundo-video .video {
    height: 100vh;
    position: center;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    

    background: linear-gradient(90deg, rgb(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor1);
    padding: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0,2);
}

.header-logo {
    display: flex;
    align-items: center;
    color: var(--cor5);
    height: 50px;
    padding-top: 15px;
}


.titulo-logo {
    font-size: 35px;
    padding-left: 15px;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav li {
    margin: 0 10px;
}

.header-nav a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    transition: color 0.2 ease-in-out;
}

.header-nav a:hover {
    color: #036160;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.imagem-home {
    margin-bottom: 55px;
    padding-bottom: 80px
}

.text-home {
    color: var(--cor5);
    text-align: center;
}

.text-home h1 {
    font-size: 55px;
    text-align: center;
}

.text-home p {
    font-size: 20px;
    text-align: center;
}

.problema {
    background-color: var(--cor1);
    padding: 60px 0;
    background-image: url(../imagens/imagem-fundo.jpg);

}


.titulo-problema {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-size: 55px;
}

.problema-card-container {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}

.problema-card {
    width: 100vw;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.problema-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.problema-card img {
    margin-bottom: 20px;
    border-radius: 25%;    
}

.problema-text h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.problema-text p {
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 20px;

}

.sobrenos {
    padding: 60px 0;
}

.sobrenos-titulo {
    text-align: center;
    margin-bottom: 40px;
}

.sobrenos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.sobrenos-text {
    width: calc(50% - 20px);
}

.sobrenos-text p {
    font-size: 16px;
    line-height: 1.5;
}

.sobrenos-imagem {
    width: calc(50% - 20px);
}

.sobrenos-imagem img {
    width: 100%;
}

.contato {
    background-color: #fff;
    padding: 60px 0;
}

.contato-titulo {
    text-align: center;
    margin-bottom: 40px;
}

.contato-form {
    max-width: 600px;
    margin: 0 auto;
}

.contato-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.contato-form input, .contato-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}



